@charset "utf-8";
/* CSS Document */

.choose{ max-width: 750px;  width: 100%; height: 45px; border-bottom: 1px solid #ececec; }

.x-title{ float: left; font-size: 1.125rem; color: #333333; line-height: 40px; margin-left: 2.5%; }
.more{ float: right; cursor: pointer; line-height: 76px; margin-right: 2.5%;}
.zi{ float: left; font-size: 1.425rem; color: #999999;}
.fh{float: left; width: 30px; height: 30px; background-color: #e0316c; border-radius: 30px; text-align: center; margin-top: 1.5rem; line-height: 28px; font-size: 1.8rem; color: #fff; 
	margin-left: 10px; padding-left: 2px;}

.hr{display: block; width: 30px; border: 2px solid #d92763; float: left; position: relative; top: -13px; left: 10px;}



.banner4{ width: 100%;height: auto; margin: 0px auto 0;}
.banner4 img{ width: 100%; }

.th_step{ width: 94.6%; height: 90px; border: 1px solid #ececec; margin: 20px auto 0; box-shadow: #ececec 0 0 3px,inset 0 0 3px #ececec; }

.thste-le{float: left; margin-left: 20px; margin-top: 8px; width: 70%;}
.thste-let{ font-size: 1.125rem; color: #333333; }
.thste-let span{ color: #d92763; }
.thste-leb{font-size: 1rem; color: #999999; margin-top: 5px; line-height: 20px;}
.thste-ri{float: right; width:19.4%; height: auto; margin-top: 26px; margin-top: 16px;}
.thste-ri img{ width: 100%; }

.qy_provide{ width: 96%; height: auto; margin: 25px auto 0; border-bottom: 1px solid #ececec; padding-bottom: 20px; }
.qy-vile{ width: 21%; height: auto; font-size: 1rem; color: #d92763; float: left; }
.qy-viri{ width: 79%; height: auto;float: left;}

.qy-vr1{ float: left; margin-right: 12%;width: 30%; }
.qyvr-img {width: 90%;}
.qyvr-img img{
	width: 100%;
}
.qyvr-js{ font-size: 0.75rem; color: #999999; margin-top: 5px;line-height: 20px;}

.bl-zsfw{ width: 95%; height: auto; margin: 6% auto 4%; }
.bl-zs{ width: 31%; height: auto; border: 1px solid #f4f4f4; box-shadow: 0px 0px 4px #f4f4f4; padding-bottom: 4%; float: left; margin-right: 2%;}

.zs-tu{ width: 46%; height: auto; text-align: center; margin:16px auto 0; }
.zs-tu img{ width: 100%; }
.zs-tit{ width: 100%; height: auto; color: #333333; font-size: 1rem; text-align: center; margin-top: 12%; }
.zs-tent{ width: 100%; height: auto; color: #999999; font-size: 0.75rem; text-align: center; margin-top: 0%; line-height: 20px;}









.mt5{
	margin-top: 5px;
}

.mt20{
	margin-top: 20px;
}


.mc-input input:focus{
	border: none;
}































