@charset "utf-8";
/* CSS Document */

.nav{ max-width: 750px; width: 100%; height: auto;margin-top: 20px; }
.nav ul li{ width: 25%; float: left; margin-bottom: 5%; }
.nav-tu{ width: 100%; height: auto; text-align: center; }

.nav-tu img{
	width: 75%;
}
.nav-tit{ width: 100%; height: auto; text-align: center; margin-top: 5px; font-size: 0.875rem; color: #333333; }

.advantage{ max-width: 710px; width: 94%; padding:3%; background-color: #f5f5f5; height: auto; }
.advantage-o{ width: 32%; background-color: #ffffff; height: 195px; float: left; border-radius: 5px;}
.ys-tit{ font-size: 1.125rem; color: #333333; width: 100%; text-align: center; margin-top: 15px; }
.ys-cont{font-size: 0.75rem; color: #999999; width: 100%; text-align: center; line-height: 1.3rem; margin-top: 5px; }
.ys-img{ text-align: center; margin-top: 3%; }
.ys-img img{
	width: 75%;
}


.wrap{ max-width: 750px; width: 100% !important; margin: 10px auto 0; }
.wrap ul li{ display: block; width: 73px; height: 80px; margin-left: 10px; }

.wrap ul li img{
	width: 100%;
}

.choose{ max-width: 750px;  width: 100%; height: 45px; border-bottom: 1px solid #ececec; }

.x-title{ float: left; font-size: 1.125rem; color: #333333; line-height: 40px; margin-left: 2.5%; }
.more{ float: right; cursor: pointer; line-height: 40px; margin-right: 2.5%;}
.zi{ float: left; font-size: 1.125rem; color: #999999;}
.fh{float: left; width: 30px; height: 30px; background-color: #e0316c; border-radius: 30px; text-align: center; margin-top: 0.5rem; line-height: 28px; font-size: 1.8rem; color: #fff;
	margin-left: 10px; padding-left: 2px;}

.hr{display: block; width: 30px; border: 2px solid #d92763; float: left; position: relative; top: -13px; left: 12px;}


.mfhq{ max-width: 750px;  width: 100%; height: 45px; border-bottom: 1px solid #ececec; }

.mf-tit{ float: left; font-size: 1.125rem; color: #333333; line-height: 40px; margin-left: 2.5%; }

















































